.your-app {
  background-color: blue;
  color: white;
  display: flex;
  padding: 5px;
}
* {
  font-family: 'Ubuntu', sans-serif;
}
.traffic-nav {
  list-style-type: none;
}
button {
  border-radius: 20px;
  display: inline-block;
  font-size: 15px;
}
.main {
  grid-area: main;
}
.head {
  grid-area: head;
}
.nav {
  background-color: darkblue;
  grid-area: nav;
}
img {
  padding: 20px;
  color: white;
}
.bell {
  transition-property: background-color;
  transition-duration: 2s;
  margin-left: 75%;
}
.bell:hover {
  background-color: white;
}
.grid-container {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "head""nav""main";
}
.main {
  display: grid;
}
@media screen and (min-width: 768px) {
  .grid-container {
  grid-template-areas: "nav head""nav main";
  grid-template-columns: 75px 1fr;
}
}
.alert {
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  .main {
  grid-template-columns: 50%;
}
}
@media screen and (min-width: 768px) {
  .traffic,.social-container {
  grid-column: 1/span 2;
}
}
@media screen and (min-width: 768px) {
  .daily, .members, .message {
  grid-column: 1 / span 1;
}
}
@media screen and (min-width: 768px) {
  .mobile, .activity, .settings {
  grid-column: 2 /span 1;
}

}
}
@media screen and (min-width: 768px) {
  .widget-container-full {
  width: 100vw; height:100vw;
}
.widget-container-half {
  width: 50vw; height:50vw;
}
}
.headline {
  margin-left: 10px;
}
.main-header-search {
  margin-left: 10px;
  float: right;
  margin-right: 50px;
}

 
 
 
}
.traffic {
  margin:none; padding:none; display:flex;
}
.social-image {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}
ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.contain {
  height:40vw;
  width:40vw;
  margin:none;
  
}
.mobile {
  height:40vw;
  width:40vw;
  margin: none;
  
}
.widget-container-full {
  height:40vw;
  width:40vw;
  margin: auto;
  flex-grow:4;
}
.alert {
  padding: 20px;
  background-color: blue;
  color: white;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
@media screen and (min-width: 1024px) {
  .grid-container {
  grid-template-areas: "nav head" "nav main";
  grid-template-columns: 75px 1fr;
}
}
.main-header {
  display: flex;
  flex-direction: row;
  align-content: stretch;
}
.profile-image {
  border-radius: 50%;
}
.headline {
  flex-grow: 1;
}
.main-header-search {
  flex-grow: 1;
  margin-top: 25px;
  width:10rem;
}

.members-container {display:flex; flex-direction:row;}
.new{margin-left:10px;}
.icon-text{color:blue;}
.icon-number{font-size:1.5rem;}